DATABASE_URL=postgresql://neondb_owner:npg_Bc3CrIsuzA1j@ep-fancy-heart-at2qb2eh.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ADMIN_SETUP_SECRET=AFILIPRO_SETUP_2024_SECRET
